extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Paul Bodenstab

        p Software Developer


        .about-bio
          p I am a child of the internet and feel at home anywhere I'm on my computer. Discovering coding was a defining moment in my life, working with code has become a dream come true.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li SCSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li WCAG
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 518-796-5474
          li bodenstabp@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/paul-bodenstab-1545a9150/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/bodenstabp' target="_blank") GitHub
        a.btn-link(href='https://www.tesla.com/' target="_blank") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back