extends layout.pug

block content

    article.portfolio-intro

        h1 Something went wrong.

        p #{err.status} 
        p #{err.message} 
        p #{err.stack} 

        a(href="/") Go Home