extends layout.pug

block content

  article.portfolio-intro
    h1 Modern Software Design

    p This page acts as the gallery and directory for the code that is most illustrative of my abilities. It provides links to the projects themselves and their code operating behind the scenes.

  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in portfolio
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name} Image`)
            h5 #{project.project_name}
        

